@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    background-color: #c9c9c96b;
}
.my_bg {
    background-image: linear-gradient(to right, #6CC6B0 0%, #04A6CD 50%, #365BA9 100%);
}
@tailwind base;
@tailwind components;
@tailwind utilities;

